body{
  margin: 0 auto;
  overflow-x: hidden;
}
button,
button:active,
button:focus {
    outline: none !important;
}
a:hover{
  text-decoration: none;
}
.top-mobile-link{
    margin-top:-40px;
}
.top-mobile-link img{
    margin-top:-40px;
}
.header_nav{
  font-size: 17px;
}
.nav-item{
    /*font-size:0.8rem;*/
}
.date input{
    height: 1.85rem;
}
.second_btn button{
    width: 100%;
    text-align: left;
  font-size: 12px;
  color: gray;
  margin-top:10px;
    border:0;
    background: transparent;
}
.orange_text{
    color: #ff4900;
}
#navigation_block{
  background: white;
  border-bottom:5px solid #ff4900;
  min-height: 100px;
}
.active>.nav-link{
  color: black;
}
.navbar-light .navbar-nav .nav-link{
  color:  #ff4900;
}
#search_block{
  min-width: 320px;
}
#phone_icon{
  margin-top: 3px;
  color:  #ff4900;
}
#top_logo{
  padding-top: 10px;
  padding-bottom: 10px;
}
#search_button{
  background: #ff4900;
}
#search_button i {
  color:white;
}
#mobile_search_btn{
    width: 20%;
    padding: 8px 0 0;
}
.top-telefone{
  font-size: 1.2rem;
  font-weight: bold;
}
.top-icon{
  margin-left:-6.9%;
}
.constructor{
  min-height: 400px;
  background-image: url('../img/1373467874_0.jpg');
}
.constructor_form{
  padding-top: 60px;
  padding-bottom: 60px;
  width:100%;
}
.constructor_form .section{
  padding-top: 30px;
  padding-bottom: 30px;
  background:rgba(255,255,255,0.9);
  border: 1px solid gray;
}
.second_section{
  padding-top: 7px;
  padding-bottom: 30px;
  background:rgba(255,255,255,0.9);
  border: 1px solid gray;
}
.second_section p{
  margin-bottom: 3px;
  margin-top: 20px;
}
.second_section button{
  margin-top: 0;
}
.section p{
  margin-bottom: 3px;
  margin-top: 20px;
}
.constructor_form div h5{
  font-size: 19px;
}
.section button{
  margin-top: 25px;
}
#buttons{
  margin-top:6px;
}
#more_search{
  font-size:12px;
    padding: 0;
}
#more_search a{
  color: gray;
  margin-top:10px;
}
.catalog{
  width: 100%;
  padding-top:5%;
}
.date_input{
  width:100%;
}
.mobile_item_description{
  margin-top:-22px;
  font-size: 12px;
  margin-left: 5px;
  color: gray;
  padding-right: 25px !important;
}
.mobile_item_description label{
    font-size: 12px;
}
.mobile_item_description p{
    text-overflow: ellipsis;
  margin-top: 13px;
  font-size: 10px;
  color: black;
}
.catalog_item a{
  color: black;
}
.catalog_item_img{
  padding: 0;
}
div.opacity{
  width: 380px;
  background-color: rgba(255,255,255,0);
  z-index: 50;
}
div.opacity:hover{
  background-color: rgba(255,255,255,0.5);
}
.btn-primary{
    background: #2196f3;
    border-color: #2196f3;
}
.noUi-connect{
    background: #2196f3;
}
#btn-dover{
  position: absolute;
  bottom:30px;
}
.catalog_item_price {
  margin-top:-32px;
  width: 130px;
    margin-left: 10px;
}
.catalog_item_price span{
    font-size: 14px;
  z-index: 3;
  padding:5px;
  font-weight: bold;
  background: #f7941d;
  color: white;
  margin-top: -10px;
}

.orange_btn{
  background: #f7941d;
  color: white;
  font-weight: bold;
}
.catalog_item_description i{
  color: #f7941d;
  font-weight: bold;
  font-size: 1.65rem;
  vertical-align: middle;
}

.catalog_item_description .row div span{
  width:100%;
}
.description_icons{
  margin-top: 20px;
}
.description_icons div{
    padding-left:10px;
    font-size:0.9rem;
}
#ifr{
    min-height:427px;
}
#ifr iframe{
    min-height:427px;
    width:100%;
}

.description_item{
  padding-top: 40px;
}
.item_media{
  padding-bottom:40px;
}

#footer{
    background: #ff6e00;
  font-size: 12px;
  bottom: 0;
  width: 104.7%;
  padding-top: 15px;
    padding-bottom: 20px;
}
.first_part_footer{
  font-size: 17px                                                                                                                           ;
  margin-left: 0;
  padding-top:25px;
  background: #f3f3f3;
  text-align: center;
}
.first_part_footer p{
  margin:20px;
}
#footer_phone{
    color: white;
  text-align: center;
  font-size:18px;
  font-weight: bold;
}
#footer .col-md-2 ul li .nav-link{
    color: white;
  padding:0;
}
#footer .col-md-3 ul li .nav-link{
    color: white;
  padding:0;
}
#footer_logo{
  text-align: center;
  padding-left:5%;
}
#footer_host{
    color: white;
  font-size: 12px;
}
.footer_icon{
  margin-left:-10%;
}
.uslugi{
}
.header1{
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}
.centered{
  text-align: center;
}
.yellow-a{
  color:#f7941d;
  text-decoration: none;
}
.uslugi_img{
  height: 210px;
  padding: 5px;
  border:1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 10px;

}
.icon_opis{
    text-align: center;
}
.icon_opis i{
    width: 72px;
    height:72px;
    color: #e29e00;
    font-size: 4.5rem;
    font-style: normal;
}
.icon_opis span{
    font-weight: bold;
}
.uslugi_img:hover{
  border:1px solid #2a6496;
}
.sotrudnik{
    margin-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}
.sotrudnik span{
    font-weight: bold;
}
.sotrudnik img{
    height:240px;
    margin-bottom: 15px;
}
.responses{
    margin-bottom: 30px;
}
.brand_img{
    margin-bottom: 20px;
}
.carousel-item img{
  max-height: 30%;
}
.btn-group{
  width:300px;
}
.btn-check{
  color: #2196f3;
  border-color: #2196f3;
  background: white;
  font-size: 14px;
  margin-bottom: 20px;
  width:33%;
  margin-right: 10px;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
    border-radius: 10px;
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 10px;
}
.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-radius: 10px;
}
.btn-check label{
width:33%;
}
.btn-check.active{
color: white;
background: #2196f3;
}
.text-right{
text-align: right;
}
.prices{
    border-bottom: 0 solid lightgray;
font-size:14px;
}
.description_text{
font-size:14px;
}
.feedback{
margin-bottom: 20px;
}
.mt{
margin-top:25px;
}
#under_phone{
display: inline-flex;
}

.responsive-slider img{
    width:100%;
}
#mobile_footer{
padding-top: 25px;
font-size:14px;
color: white;
background: #ff6e00;
}
#mobile_footer p{
width:120%;
}
#mobile_footer a{
color: white;
}
.catering_col p{
text-align: right;
font-weight:bold;
margin-bottom:0;
}
.bottom_image{
margin-bottom:30px;
text-align: center;
}
.bottom_image img{
    width: 100%;
}
#open_more_seacrh{
    text-align: left;
    color: gray;
    border:0;
    background:transparent;

}
#first_section_constuctor{
    margin-left:20%;
}
.top-radios{
    padding:0;
width:25rem;
}
.mobile_search input{
    border-radius: 0;
    border:1px solid #ff6e00;
    margin-top: -40px;
}
.mobile_search i{
    margin-left: 90%;
    font-weight: bold;
}
#mobile_search_section{
    margin-top: 10px;
    padding:0px;
}
.btn-top-menu{
    border-radius: 0 !important;
color: #ff6e00;
border-color: #ff6e00;
background: white;
}
.btn-top-menu{
width:30%;
color: #ff6e00;
border-color: #ff6e00;
background: white;
}
.btn-top-menu.active{
color: white;
background: #ff6e00;
}
#main_map{
height:100%;
}
#map{
    height: 500px;
}
#map_frame{
    height:100%;
}
#popup_img{
    margin-bottom: 20px;
}
.popup_prices{
    margin-bottom: 0.8rem;
}
.top-mobile-telephone{
margin-left: 145px;
margin-top: -40px;
}
.top-mobile-telephone label{
font-size: 0.9rem;
font-weight: bold;
}

#video_block{
    margin-bottom:10px;
}
#slider{
    margin-bottom:40px;
}
#slider_gallery ul li img{
    width:100%;
}
#price_slider{
    width:80%;
    margin-left: 10%;
    margin-bottom: 30px;
}
#total_price{
    font-weight: bold;
}
.noUi-tooltip{
    font-size: 14px;
    height: 33px;
    top: 30px;
}
.bold{
    font-weight: bold;
}
.black{
    color: black;
}
.black:hover{
    color: black;
}
.black:active{
    color: #000;
}
.admin_wrapper{
    padding-left: 20px;
    padding-right: 20px;
}
.admin_spisok{
    padding-left: 35px;
    margin-top: -20px;
    padding-top: 20px;
    margin-bottom: 40px;
    border:1px solid lightgray;
}
.admin_images{
    margin-bottom: 30px;
}
.admin_images img{
    opacity:0.3;
    width:100%;
    height:100%;

}
.admin_images img:hover{
    opacity:1;
}
.add_icon {
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 3rem;
}
.admin_create_item{
    padding-top:20px;
    margin-bottom: 60px;
}
.admin_create_prices{
    margin-bottom: 0;
}
.admin_create_prices input{
    padding: 0.2rem .75rem;
    font-size: 14px;
}

@media (min-width: 320px){
    #first_section_constuctor{
        margin-left: 0;
        padding-top: 10px;
    }
    .add_icon{
        font-size:2rem;
    }
    .header1{
        padding-left:10px;
    }
    #price_header{
        border-bottom: 0 solid white;
    }
    #price_header h3{
        font-size:14px;
        margin-bottom: 0;
    }
    #more_uslugi_header h4{
        font-size:14px;
        margin-bottom: 0;
    }
    #more_uslugi_header{
        border-bottom:0 solid white;
    }
    #opis_item_header h4{
        font-size:14px;
    }
    #opis_item_header{
        background: lightgray;
        font-size:14px;
    }
    #description-container{
        padding:0;
    }
    #opis_item_text{
        padding:5px;
        margin-bottom: 0;
        background-color: lightgray;
    }
    #more_uslugi_text{
        padding:5px;
    }
    .mobile_card_options{
        margin-top: 0;
        margin-bottom:0;
        border-right: 1px solid lightgray;
        border-left: 1px solid lightgray;
        padding: 5px;
    }
    .description_item{
        padding-top:10px;
    }
    .prices{
        margin-left:0;
        margin-right:0;
        border-bottom: 1px solid lightgray;
    }
    .prices p{
        margin-bottom:2px;
    }
.catering_col p{
    font-size:0.8rem;
}
.constructor_form{
    padding-top:0;
    padding-bottom:0;
}
#top_logo img{
  width:10rem !important;
}
.catalog_item_description h3{
color: #073855;
font-weight: bold;
margin-bottom: 5px;
font-size: 14px;
}
.catalog_item{
margin-bottom: 10px;
}
.opacity{
height: 262px;
}
.catalog_item_price2 span{
    z-index: 5;
    margin-left: 4%;
    margin-top: -20px;
    font-weight: bold;
}
.catalog_item_price2 {
    width: 100%;
    margin-top: -13px;
    padding-left: 0;
    margin-left: -6px;
    margin-bottom: -5px;
    background: #f7941d;
    color: white;
    z-index: 2;
}
.item_img{
height: 95px;
background-color: black;
background-image: url('../img/1373467874_0.jpg');
background-size: 175px;
background-repeat: no-repeat;
background-position: 50% 50%;
}
.call-btn{
    padding-top: 2%;
    width:100%;
    height:50px;
    text-align: center;
    border-radius: 5px;
    background: #2196f3;
    color: white;
}
.call-btn button{

    font-size: 1.2rem;
}
.catalog_item_description{
border:1px solid lightgray;
padding:5px;
}
.uslugi_img{
width:290px;
}
.footer_menu{
text-align: center;
}
#footer_host{
text-align: right;
}
#footer_host *{
    margin-right:5px;
}
#footer{
display: none;
}
}


@media (min-width: 768px){
    #first_section_constuctor{
        margin-left: 20%;
        padding-top: 20px;
    }
    .add_icon{
        font-size:4rem;
    }
    .header1{
    padding-left:0;
}
    #price_header{
        border-bottom: 1px solid lightgray;
    }
    #price_header h3{
        font-size:1.4rem;
        margin-bottom: 10px;
    }
    #more_uslugi_header h4{
        margin-bottom: 10px;
    font-size:1.4rem;
}
    #more_uslugi_header{
        border-bottom:1px solid lightgray;
    }
    #opis_item_header h4 {
        font-size: 1.4rem;
    }
    #description-container{
        padding:0;
    }
    #opis_item_text{
        padding:5px;
        margin-bottom: 0;
        background-color: lightgray;
    }
    #more_uslugi_text{
        padding:5px;
    }
    #opis_item_header{
        background: white;
    }
    #opis_item_text{
        padding:0;
        margin-bottom: 20px;
        background-color: white;
    }
    #more_uslugi_text{
        padding:0;
    }
    #description-container{
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
    }
    .mobile_card_options{
        margin-bottom:20px;
        border-right: 0 solid lightgray;
        border-left: 0 solid lightgray;
        border-bottom: 0;
        padding: 0;
    }
    #opis_item_header {
        border-bottom: 1px solid lightgray;
    }
#top_logo img{
    margin-left:40px;
}
#top-logo {
    padding-left:40px;
}
.catering_col p{

    font-size:1rem;
}
.constructor_form{
    padding-top:60px;
    padding-bottom:60px;
}
#top-logo img{
    width:100%;
}
.catalog_item_description h3{
color: #073855;
font-weight: bold;
margin-bottom: 5px;
font-size: 1.35rem;
}
.catalog_row{
padding-left: 15px;
padding-right: 15px;
}
.catalog_item{
margin-bottom: 30px;
}
.opacity{
height: 200px;
}
.item_img{
min-height: 200px;
background-color: black;
background-image: url('../img/1373467874_0.jpg');
background-size: 350px;
background-repeat: no-repeat;
background-position: 50% 50%;
}
.catalog_item_section{
    width:100%;
}
.catalog_item_description{
border:1px solid lightgray;
padding:20px;
}
.uslugi_img{
max-width:270px;
}
.footer_menu{
padding-top: 1%;
padding-left: 5%;
text-align: left;
}
#footer_host{
text-align: center;
}
#footer{
display: flex;
flex-wrap: wrap;
}
}
